.container {
  padding: 1em 0 0;
}

.filter-form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.filter-form-item {
  margin: 0.5em 0;
}

.filter-form-buttons {
  display: flex;
  justify-content: flex-end;
}

.links {
  text-decoration: none;
}